/* Importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-principal: #f2f2f2;  /* Fondo principal */
    --color-secundario: #d9d9d9;  /* Fondo secundario */
    --color-acento: #d19a4b;      /* Color de acento */
    --color-texto: #333;          /* Color de texto principal */
    --color-texto-claro: #fff;    /* Color de texto claro */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-principal);
    color: var(--color-texto);
    overflow-x: hidden;
}

h2 {
    color: var(--color-texto);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--color-acento);
}

.redes{
    margin-top: 10px;
}

.redes a{
    color: rgb(253, 253, 253);
    padding: 5px;
}

/* SECCIÓN INICIO */
.inicio {
    background: linear-gradient(rgba(128, 127, 127, 0.6), rgba(58, 55, 55, 0.6)), url(../media/img-webp/laptop-2620118_1280.webp);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--color-texto-claro);
}

.inicio h2 {
    font-size: 50px;
    font-weight: 600;
}

.inicio p {
    font-size: 18px;
    margin-top: 20px;
}

.btn-1 {
    background-color: var(--color-acento);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-1:hover {
    transform: scale(1.5);
}


/* NAVBAR */
.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: var(--color-texto) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--color-acento) !important;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.effect3d { animation-name: effect3d }
@keyframes effect3d {
    to {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
    }
}

/* SECCIÓN TRABAJOS */
.trabajos {
    padding: 10px;
    background-color: var(--color-secundario);
    text-align: center;
}

.trabajos h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;
}

.galeria {
    position: relative;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    height: 300px;
    transition: all 0.3s ease;
}

.galeria .info {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.galeria:hover img {
    transform: scale(1.05);
    opacity: 0.4;
}

.galeria:hover .info {
    transform: translateY(0);
}

.info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info span {
    background-color: var(--color-acento);
    padding: 5px 8px;
    font-size: 10px;
    margin-right: 5px;
    color: white;
}

/* SECCIÓN HABILIDADES */
.habilidades {
    padding: 80px 0;
    background-color: var(--color-principal);
    text-align: center;
}

.habilidades h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;
}

.icono-hab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icono-hab img {
    width: 90px;
    height: 90px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.icono-hab img:hover {
    transform: scale(1.2);
}
/* SECCION FOOTER */

footer {
    background-color: #333;
    color: var(--color-texto-claro);
    padding: 20px 0;
}

footer h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer a {
    transition: color 0.3s;
}

.fa-github{
    color: #ffffff; 
}

.fa-github:hover {
    color: #0077b5; 
}

.fa-linkedin{
    color: #ffffff;
}

.fa-linkedin:hover {
    color: #0077b5;
}

footer p {
    margin: 0;
    font-size: 14px;
}


